{% extends "lizard/infowindow_base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'Edit scenario properties' %}
{% endblock %}
{% block header %}
	{% trans 'Scenario' %} {{scenario.id}}
{% endblock %}

{% block content %}
{% if succeeded %}
	{% trans 'The properties have been changed. You can now close this window.'%}
{% else %}
	<form action="{{action_url}}" enctype="multipart/form-data" method="post">
	    <table>
	        {{ form.as_table }}
	       	<tr><td><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
	    </table>
	</form>
{% endif %}
{% endblock content %}