
    <script>
    function {{ create_function }}() {

    <!-- Javascript for the screen Framework -->
    {{ approval_object }}

            isc.HTMLPane.create({
                            ID: 'approvalHTMLPane',
                            width:'300',
                            overflow:'visible',
                            border: '0px',
                            contentsURL: '{% url infowindow %}{{ url_args|safe}}&with_approvalobject=0',
                            autodraw:false
                            });
            scApprovalTotal.addMember(approvalHTMLPane);

        /***
        Callback function for form.
        Defined in this file, since javascript execeution in the exports_new templates
        does block showing of the HTML for some reason.
         ***/
      if (typeof(window["callbackFunctions"]) == 'undefined') {
        window["callbackFunctions"] = {}
      }

      {% if destroy_function %}
      function {{ destroy_function }}() {
        scApprovalTotal.hide();
      }{% endif %}

      window["callbackFunctions"]["ApprovalObjectCallbackFormFunction"] = function() {
            sendingForm = document.forms["totalApprovalForm"];
            // Create the post parameters
            var postParams = [];
            for (var n=0; n<sendingForm.elements.length; n++){
             //NOTE: !! use '.name' to get it working with 'out-of-the-box' django validation !!
             postParams[sendingForm.elements[n].name]=sendingForm.elements[n].value;
            }

            RPCManager.sendRequest({
               actionURL: '{% url infowindow %}{{ url_args|safe}}&with_approvalobject=0',
               useSimpleHttp: true,
               httpMethod: "POST",
               params: postParams,
               callback: function(response, data, request){
                        if (response.httpResponseCode == 200) {
                            console.log("Data ophalen gelukt, tonen op scherm.")
                           // check if we have to open it in the pane or in the complete window
                            approvalHTMLPane.setContents(data);

                        } else {
                            approvalHTMLPane.setContents("error");
                            console.log("Fout bij het ophalen van gegevens.");
                        }
                    }
                });
          }
            {{ pane_id }}.addChild(scApprovalTotal);
  }

    </script>
