{% extends "lizard/infowindow_base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'Scenario details' %}
{% endblock %}
{% block header %}
	{% trans 'Scenario details' %}
{% endblock %}

{% block content %}
<table class="timeseriesWrapper"><tr><td>
<table class="timeseries" summary="timeseries">
	<tbody>
{% for header in grouped_fields %}
	<tr class='cell'>
		<td><b>{{ header.title }}</b></td>
	</tr>

	{% for field in header.fields %}
	    <tr class="{% cycle 'cellDark' 'cell'%}">
	    	<td>{{field.name}}</td>
	    	<td>{{field.value}}</td>
	    </tr>
        {% endfor %}
{% endfor %}
	</tbody>
</table>
</table>
{% endblock content %}
