{% extends "lizard/infowindow_base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'Scenario details' %}
{% endblock %}
{% block header %}
	{% trans 'Scenario details' %}
{% endblock %}

{% block content %}
<table class="timeseriesWrapper"><tr><td>
<table class="timeseries" summary="timeseries">
	<tbody>
{% for header in grouped_fields %}
	<tr class='cell'>
		<td><b>{{ header.title }}</b></td>
	</tr>

	{% for field in header.fields %}
	    <tr class="{% cycle 'cellDark' 'cell'%}">
	    	<td>{{field.name}}</td>
	    	<td>{{field.value_str}}</td>
	    </tr>
        {% endfor %}
{% endfor %}
{% if attachment_list %}
	<tr class='cell'>
		<td><b>{% trans "Attachments" %}</b></td>
	</tr>
	{% for attachment_type in attachment_list %}
	    <tr class="{% cycle 'cellDark' 'cell'%}">
	    	<td>{{ attachment_type.description }}</td>
                {% for attachment in attachment_type.attachments %}

	    	<td><a href="{% url "flooding_service" %}?action=get_attachment&scenario_id={{scenario_id}}&path={{ attachment.file }}">{{ attachment.filename }}</a><br>
                {% endfor %}
		</td>
	    </tr>
        {% endfor %}
{% endif %}
	</tbody>
</table>
</table>
{% endblock content %}
