{# 20090311 kkh displays the list of legends#}
{% extends "lizard/base.html" %}

{% block content %}
<h2>Legend detail: {{ object }}</h2>

<ul>
{% for color in object.legendcolor_set.all %}
<li>{{ color }}
{% if has_edit_permission %}
&nbsp;<a href="">edit</a>&nbsp;<a href="{% url "flooding_legend_color_delete" object_id=color.id %}">delete</a>
{% endif %}
</li>
{% endfor %}
{% if has_edit_permission %}
<li><a href="{% url "flooding_legend_color_add" object_id=object.id %}">add</a></li>
{% endif %}
</ul>
{% endblock %}
