{% extends "lizard/base.html" %}
{% comment %}
20090212 k.k.ha template for scenario overview with search and filter functionalities
inputs:
  fields: dictionary of fieldname: fieldvalue
  table_columns: see objecttable templatetag
  table_data: see objecttable templatetag
{% endcomment %}

{% load utils %}
{% load i18n %}

{% block title %}
Lizard-flooding: {% trans 'Project list' %}
{% endblock %}

{% block content %}

<h1>{% trans 'Project list' %}</h1>
<p>

{% search_form 'q' fields.q fields %}

{% filter_form owner_choices 'filter_owner' fields.filter_owner fields %}

<a href="{% url "flooding_project_add" %}"><img src="{% url "root_url" %}static_media/images/icons/add.png" title="{% trans 'create project' %}"/></a>

{% objecttable name table_columns table_data fields.sort fields %}
{% digg_paginator fields %}

</p>

{% endblock %}

