{% extends "lizard/base.html" %}
{% load utils %}
{% load i18n %}

{% block title %}
Flooding: {% trans 'Share scenarios' %}
{% endblock %}

{% block content %}
<script type="text/javascript" src="{% url root_url %}static_media/weblib/jquery/jquery-1.3.2.min.js"></script>

<h1>{% trans 'Share scenarios' %}</h1>
<p>
	<div  style="overflow:auto">
	{% for project, scenarios in projects %}
          <h2>{{ project.name }}</h2>
          <table>
	    <thead>
              <th>Scenarionaam</th>
              <th>Status</th>
	      {% for projectid, projectname in otherprojects %}
	      <th>{{ projectname }}</th>
              {% endfor %}
            </thead>
	    {% for scenario in scenarios %}
            <tr>
	      <td>{{ scenario.scenario.name }}</td>
	      <td>{{ scenario.scenario.status_cache }}</td>
	      {% for extrafield in scenario.extra_fields %}
	      <td>{{ extrafield }}</td>
	      {% endfor %}
            </tr>
	    {% endfor %}
	  </table>
        {% endfor %}
	</div>
</p>

{% endblock %}
