<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"> 
    <title>Lizard</title>
	<link rel="shortcut icon" href="static_media/images/lizard_webinterface_favicon2.ico">

	<script> 
	var isomorphicDir="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/"; // abs path to isomorphic, needed to locate SmartClient CSS
	</script>

	<SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Core.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Foundation.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Containers.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Grids.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Forms.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_DataBinding.js"></SCRIPT>
	<SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/Isomorphic_NenS_skin/load_skin.js"></SCRIPT>
	<SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/scripts/shared/SCpatch.js"></SCRIPT>
	<SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/scripts/shared/lib/NGeneral.js"></SCRIPT>

</head>
<body>
<script>

    /************************Form**********************************/
    isc.DataSource.create({
	    ID:"dsPostScenario",
	    dataFormat:"json",
	    dataURL: '{% url "root_url" %}flooding/service/',
        requestProperties: { httpMethod: "POST" },
	    autoDraw:false
	});
 
	isc.ListGrid.create({
    	ID:"listStrategies",
    	data: [
    	{% for strategy in strategies %}
            {id:{{ strategy.id }},
             name: "{{ strategy.name }}",
             user: "{{ strategy.user.get_full_name }}",
             creation_date: "{{ strategy.save_date|date:'d-m-y H:i' }}"}
    	     {% if not last %} , {% endif %}
    	{% endfor %}
    	],
	width:'99%',
	height:'80%',
	margin:5,
	selectionAppearance:"checkbox",
   	clientOnly:true,
   	canEdit: true,
	editEvent: "click",
	modalEditing:true,
	bodyOverflow: "visible",
	leaveScrollbarGap: false,   		
	fields:[
            {name: "id", title: "id", type: "number" ,primaryKey:true, hidden:true, showIf: "false"},
            {name: "name", title: "naam", type: "text", canEdit: false}, 
       	    {name: "user",title: "aangemaakt door",type: "text", canEdit: false, width:100},
       	    {name: "creation_date",title: "aangemaakt op",type: "date", canEdit: false,width:80}		
        ],
    	autoDraw:false    	
 });
 	
    isc.IButton.create({
        ID: "buttonSubmitLoad",
        title: "Laad maatregelen",
        showRollOver: false,
        showDown: true,
        showFocused: false,
        width: 150,
        click: function() {
            var selected_strategies = [];
            var selection = listStrategies.getSelection();
            for (var i = 0; i < selection.length ; i++ ){
		debugger;
                selected_strategies.push(selection[i].id);            
            }
            
            if (selected_strategies.length > 0){
                RPCManager.sendRequest(
                    {
                        actionURL: '{% url "root_url" %}flooding/service/',
                        useSimpleHttp: true,
		        showPrompt:true,	    					 					 
		        httpMethod: "POST",			 
		        params: {action: 'post_load_strategies', 
		        current_strategy: strategyId, 
		        strategies: selected_strategies.join(";")
                    }, 
		    callback: function(response, data, request){
                        var data = JSON.parse(data);
			if (response.httpResponseCode == 200) {				                	
			    console.log("Data ophalen gelukt.");
			    existing_embankments_layer.redraw();
			                   
			    for (var i=0 ; i < data.measures.length; i++) {
			        var record = data.measures[i]
				listMeasures.data.addAt(record);
			    }
			    loadStrategyWindow.closeClick();
			}  else {				                    
			   console.log("Fout bij het opslaan van gegevens.");                   
			}
		    }
		});
	}		    
      },
        autoDraw: false
    });
    
    
 
	isc.HLayout.create({
        ID: 'strategySelectButtons',
        height: 28,
        padding: 2,
        membersMargin: 5,
        backgroundColor: 'grey',
        overflow: "visible",
        border: "1px solid grey",
        //resizeBarTarget: "next",
        members: [
       		buttonSubmitLoad
        ],
        autoDraw: false
    });

    isc.VLayout.create({
        ID: 'scSelectStrategyTotal',
        width: "100%",
        height:"100%",
        //overflow: "hidden",
        members: [
            listStrategies,
            strategySelectButtons
        ],
        autoDraw: true
    });
    
    </script>
</body>


