{% extends "lizard/infowindow_base.html" %}
{% load i18n %}

{% block title %}
	{% trans 'Attachments' %}
{% endblock %}
{% block header %}
	{% trans 'Attachments - ' %}{{related_to}}
{% endblock %}

{% block content %}
{% if succeeded %}
     {% trans 'Het opslaan is gelukt. U kunt een nieuw bestand toevoegen of dit venster sluiten.' %}
{% endif %}
<div style="height:300px; overflow:auto">
	<table class="timeseriesWrapper"><tr><td>
	<table class="timeseries" summary="timeseries">
		<thead class="headerTitle">
			<td width="50"><b>{% trans "Date" %}</b></td>
			<td width="75"><b>{% trans "By" %}</b></td>
			<td width="50"><b>{% trans "Name" %}</b></td>
			<td width="50"><b>{% trans "File" %}</b></td>
			<td width="373"><b>{% trans "Remarks" %}</b></td>
		</thead>
		<tbody>
		{% if  attachments %}
	 		{% for attachment in attachments %}	        
			    <tr class="{% cycle 'cellDark' 'cell'%}">
		    		<td>{{attachment.uploaded_date|date:"d-m-Y"}}</td>
		    		<td>{{attachment.uploaded_by}}</td>
		    		<td>{{attachment.name}}</td>
		    		<td><a href="{% url "flooding_service" %}?action=get_attachment&scenario_id={{scenario_id}}&path={{attachment.file.name}}">{{attachment.file}}</td>
		    		<td>{{attachment.remarks}}</td>
		    	</tr>	     
	    	{% endfor %}
	    {% else %}
	      <tr class='cellDark'><td COLSPAN=4> - </td></tr>
	    {% endif %} 
	    </tbody>   
	</table>
	</table>
</div>
<form action="{{action_url}}" enctype="multipart/form-data" method="post">
<h1>{% trans 'Add new attachment' %}</h1> 	
    <table>
        {{ form.as_table }}
       	<tr><td><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
    </table>
</form>
{% endblock content %}