[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
develop = .
eggs =
     flooding-lib

[sysegg]
# Add eggs here that are best handled through OS-level packages.
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    numpy
    PIL
    matplotlib
    simplejson
    pyproj
    GDAL


[versions]
# Specific pins
flooding-lib =
zc.buildout = 1.4.4
zc.recipe.egg = 1.2.2
buildout-versions = 1.5
Django = 1.2.3
#GDAL = 1.7.3

[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
wsgi = true
wsgilog = ${buildout:directory}/var/log/django.log
project = flooding_lib
projectegg = flooding_lib
settings = testsettings
test = flooding_lib
eggs = flooding-lib


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
