[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extensions = buildout.dumppickedversions
parts =
    django
    omelette
    console_scripts
    pyflakes
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-flooding


[versions]
# Specific pins
lizard-flooding =
# Reported by buildout.dumppickedversions
collective.recipe.omelette = 0.9
distribute = 0.6.10
django-staticfiles = 0.2.0
django-treebeard = 1.60
djangorecipe = 0.20
eazysvn = 1.11.0
iso8601 = 0.1.4
lizard-base = 1.6
nens = 1.0-r9335
networkx = 1.0.1
pep8 = 0.5.0
pyflakes = 0.4.0
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.2
zest.releaser = 3.6


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
version = 1.1
project = lizard_flooding
projectegg = lizard_flooding
settings = testsettings
test = lizard_flooding
eggs = lizard-flooding


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'
