[buildout]
index = http://packages.lizardsystem.nl
unzip = true
prefer-final = true
versions = versions
extends =
    http://packages.lizardsystem.nl/kgs/3.0.11/versions.cfg
extensions =
    mr.developer
    buildout-versions
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    pylint
develop = .
eggs =
     flooding-lib

[sysegg]
# Add eggs here that are best handled through OS-level packages.
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    numpy
    PIL
    matplotlib
    pyproj
    GDAL


[versions]
Django = 1.4.8
flooding-lib =
Markdown = 2.2.0
buildout-versions = 1.5.0
django-debug-toolbar = 0.9.4
factory-boy = 1.1.5
flooding-base = 1.35
lizard-raster = 0.3
lizard-worker = 0.10
lizard-worker = 0.10
mock = 0.8.0
nens = 1.11
pb.recipes.pydev = 0.4.5
pika = 0.9.8
sitesetup = 0.1
threedilib = 0.6
netCDF4 = 1.0.4

[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
wsgi = true
wsgilog = ${buildout:directory}/var/log/django.log
project = flooding_lib
projectegg = flooding_lib
settings = testsettings
test = flooding_lib
eggs = flooding-lib


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    coverage
    eazysvn
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'

[pylint]
recipe = zc.recipe.egg
eggs =
     ${buildout:eggs}
     pylint
entry-points = pylint=pylint.lint:Run
arguments = sys.argv[1:]

[sources]
flooding-base = git git@github.com:lizardsystem/flooding-base.git
lizard-worker = git git@github.com:lizardsystem/lizard-worker.git
gislib = git git@github.com:nens/gislib.git