{% extends "lizard/base.html" %}
{% load i18n %}
{% block title %}Lizard export tool{% endblock %}
{% block stylesheets %}
  <link rel="shortcut icon" href="{{ url_favicon }}">
  <link href="{% url "root_url" %}static_media/style/style.css" media="screen" type="text/css" rel="stylesheet">
  <link href="{% url "root_url" %}static_media/style/forms.css" media="screen" type="text/css" rel="stylesheet">
  <link href="{% url "root_url" %}static_media/Isomorphic_NenS_skin/skin_styles.css" media="screen" type="text/css" rel="stylesheet">
{% endblock stylesheets %}

{% block bodyarguments %} class="scrollable" {% endblock %}
{% block content %}
  <h1>
    {% trans "Gebiedsdekkende kaart overzicht" %}: {{gdmap.name}}
  </h1>

  <table class="timeseriesWrapper">
    <tr>
      <td>
        <table class="timeseries" summary="timeseries">
          <thead class="headerTitle">
            <td width="75"><b>{% trans "Scenario ID" %}</b></td>
            <td width="375"><b>{% trans "Scenario" %}</b></td>
            <td width="373"><b>{% trans "Project" %}</b></td>
            <td width="75"><b>{% trans "Eigenaar"%}</b></td>
            <td width="80"><b>{% trans "Bekijk" %}</b></td>
          </thead>
          <tbody>
              {% for scenario in gdmap.scenarios.all %}
                <tr class="{% cycle 'cellDark' 'cell'%}">
                  <td>{{ scenario.id }}</td>
                  <td>{{scenario.name}}</td>
                  <td>{{scenario.main_project.name}}</td>
                  <td>{{scenario.owner.username}}</td>
                  <td>
                      <a target=_new href="/flooding/preload/{{scenario.main_project.id}}/{{scenario.id}}">
                        {% trans "bekijk scenario" %}
                      </a>
                  </td>                
		</tr>
              {% endfor %}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <br>
{% endblock %}
