{% load i18n %}
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <title>Workflow tool</title>
    <link href="{% url root_url %}static_media/style/workflow.css" type="text/css" rel="stylesheet">
    
    <script> 
      var isomorphicDir = "{% url root_url %}static_media/weblib/isomorphic/";
      var wConfig = {};
      wConfig.root_url = "{% url root_url %}";
      wConfig.scenario_url = "/flooding/preload/";
      wConfig.images_url = wConfig.root_url + "static_media/images/";
      wConfig.icons_url = wConfig.root_url + "static_media/images/icons/";
      wConfig.workflow_task_url = "{% url worker_workflow_task %}"
      wConfig.breadcrumbs = "";
      wConfig.scenarios_processing_url = "{% url workflow_scenarios_processing %}";
      wConfig.last_pagenumber_url = "{% url workflow_last_pagenumber %}";
      wConfig.rowstoload_url = "{% url workflow_tools_rowstoload %}";
      wConfig.startscenarios_url = "{% url workflow_start_scenarios %}";
      
      
    </script>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_Core.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_Foundation.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_Containers.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_Grids.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_Forms.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/isomorphic/system/modules/ISC_DataBinding.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/Isomorphic_NenS_skin/load_skin.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/weblib/SCpatch.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/scripts/shared/lib/NGeneral.js"></SCRIPT>	
    <SCRIPT type="text/javascript" SRC="{% url root_url %}get_config.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url root_url %}static_media/scripts/shared/JSONparser.js"></SCRIPT>
  </head>
  <body>
    <script type="text/javascript" src="{% url root_url %}static_media/workflow/screen_workflow.js" type="text/javascript"> </script>
  </body>
</html>
