{% load i18n %}
<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">

        <title>Lizard import tool</title>

        <!-- Load styles -->
        <link rel="shortcut icon" href="{{ url_favicon }}">
        <!-- link href="{% url "root_url" %}static_media/style/style.css" media="screen" type="text/css" rel="stylesheet"-->
        <link href="{% url "root_url" %}static_media/Isomorphic_NenS_skin/skin_styles.css" media="screen" type="text/css" rel="stylesheet">
    <style type="text/css" >
        html, body {
            overflow: hidden;
            width:"100%";
            height:"100%";
        }
        .approved {
            color: green;
        }
        .disapproved {
            color: red;
        }
    </style>
    <script>
      var isomorphicDir="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/"; // abs path to isomorphic, needed to locate SmartClient CSS
    </script>

    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Core.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Foundation.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Containers.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Grids.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_Forms.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/weblib/smartclient/9.0/isomorphic/system/modules/ISC_DataBinding.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/Isomorphic_NenS_skin/load_skin.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/scripts/shared/SCpatch.js"></SCRIPT>
    <SCRIPT type="text/javascript" SRC="{% url "root_url" %}static_media/scripts/shared/lib/NGeneral.js"></SCRIPT>
    </head>
    <body>


    <script>

    Date.setInputFormat("DMY")

    isc.Canvas.create({
        ID:'breadcrumbs',
        height:"15",
        contents: '{% spaceless %} <div class="breadcrumbs"> {% if breadcrumbs %}&rsaquo;{% endif %} {% for blitem in breadcrumbs %}{% if blitem.url %}<a href="{{ blitem.url }}">    {{ blitem.name }}</a> {% else %}{{ blitem.name }}{% endif %}{% ifnotequal forloop.revcounter0 0 %}&rsaquo;{% endifnotequal %} {% endfor %} </div>'
           ,{% endspaceless %}
    autodraw:false
    });

{% if legend_html_json %}
    isc.Canvas.create({
        ID: "helptext",
        autodraw: true,
        padding: 15,
        contents: {{ legend_html_json|safe }}
    });
{% endif %}

    isc.DataSource.create({
        ID:"dsPostScenario",
        dataFormat:"json",
        dataURL: '{{ post_url }}',
            requestProperties: { httpMethod: "POST" },
        autoDraw:false
    });


    isc.DynamicForm.create({
            ID: "formScenarioSettings",
            width: "100%",
            height: "100%",
            padding: 5,
            minHeigh: 150,
            overflow: "visible",
            {% ifequal action 'approve' %}
            numCols: 7,
            {% else %}
            numCols: 5,
            {% endifequal %}
            border: "1px solid grey",
            dataSource: dsPostScenario,
        canSubmit: true,
        method: "POST",
        colWidths: [50, 50, 50, 50, 100, 50,50],
        fields: [
        {% for part in fields %}
            {% if part.fields  %}
                {% comment %}
                part.id 90 is HEADER_FILES, zie importtool.models.InputField
                {% endcomment %}
                {% ifnotequal part.id 90 %}
                    { type: "header", defaultValue: '{{ part.title}}' },
                    {% for field in part.fields %}
                        {% if static_editor %}
                            {{ field.get_static_editor_json|safe }},
                        {% else %}
                               {{ field.get_editor_json|safe }},
                        {% endif %}
                        {% ifequal action 'verify' %}
                            {{ field.get_statestring_json|safe }},
                        {% endifequal %}
                        {% ifequal action 'approve' %}
                            {{ field.get_approve_statuseditor_json|safe }},
                            {{ field.get_approve_remarkeditor_json|safe }},
                        {% endifequal %}
                    {% endfor %}
                {% endifnotequal %}
            {% endif %}
        {% endfor %}
       { name: "action", _constructor: "HiddenItem", defaultValue: 'scenariodata' }
        ],
        //canDragResize: true,
        autoDraw: false
    });

    isc.IButton.create({
        ID: "buttonSubmitSave",
        title: "Gegevens opslaan",
        showRollOver: false,
        showDown: true,
        showFocused: false,
        width: 150,

        showRollOver: false,
        click: function() {
                formScenarioSettings.saveData(function(dsResponse, data, dsRequest) {
                    if (dsResponse.httpResponseCode == 200) {
                        if (data.successful == "true") {
                            // use 123456789 as a dummy import_scenario_id, so we can replace it
                            // with the real one in Javascript
                            window.location="{% url "flooding_tools_upload_files" 123456789%}".replace('123456789', data.id);
                        } else {
                            alert('error saving: ' + data.remarks)
                        }
                    } else {
                        alert('server error, scenario niet opgeslagen')
                    }
                });

        },
        autoDraw: false
    });


    isc.HLayout.create({
        ID: 'scenarioInfobuttons',
        height: 28,
        padding: 2,
        membersMargin: 5,
        backgroundColor: 'grey',
        overflow: "visible",
        border: "1px solid grey",
        resizeBarTarget: "next",
        members: [
               buttonSubmitSave
        ],
        autoDraw: false
    })

    {{ approvaltable|safe }}
{% if approvaltable %} scApprovalTotal.overflow = 'visible'
{% endif %}



{% if import_admin %}

    isc.DataSource.create({
        ID:"dsPostAdmin",
        dataFormat:"json",
        dataURL: '{{ post_url }}',
        requestProperties: { httpMethod: "POST" },
        autoDraw:false
    });


    isc.DataSource.create({
        ID: "dsRegion",
        dataFormat: "json",
        dataURL: '{% url "flooding_service" %}',
        transformRequest : function (dsRequest) {
            if (dsRequest.operationType == "fetch") {
                   var params = {action : 'get_all_regions'};
                // combine paging parameters with criteria
                return isc.addProperties({}, dsRequest.data, params);
            }
        },
        autoDraw: false

    });
    isc.DataSource.create({
        ID: "dsBreach",
        dataFormat: "json",
        dataURL:  '{% url "flooding_service" %}',
        transformRequest : function (dsRequest) {
            if (dsRequest.operationType == "fetch") {

                   regionSelect.getValue()
                   var params = {action : 'get_breaches' };

                // combine paging parameters with criteria
                return isc.addProperties({}, dsRequest.data, params);
            }
        },

        autoDraw: false
    });
    isc.DataSource.create({
        ID: "dsProject",
        recordXPath: "items",
        transformRequest : function (dsRequest) {
            if (dsRequest.operationType == "fetch") {
                   var params = {action : 'get_projects'};
                // combine paging parameters with criteria
                return isc.addProperties({}, dsRequest.data, params);
            }
        },
        dataFormat: "json",
        dataURL:  '{% url "flooding_service" %}',
        autoDraw: false
    });


    isc.DynamicForm.create({
        ID: "formAdminSettings",
        encoding: "multipart",
        width: 380,
        height: '100%',
        padding: 5,
        minHeigh: 150,
        overflow: "visible",
        //minColWidth: 80,
        numCols: 3,
        border: "1px solid grey",
        dataSource: dsPostAdmin,
        canSubmit: true,
        method: "POST",
        colWidths: [50, 50, 50, 50, 100],
        fields: [
            { type: "header", defaultValue: 'Import Admin' },
            {
                name: "state",
                title: "status",
                type: "select",
                required: true,
                valueMap: {{state_valuemap|safe }},
                defaultValue: "{{ state }}",
                startRow: true
            },
            {
                name: "remarks",
                title: "opmerkingen",
                type: "TextAreaItem",
                required: false,
                defaultValue: "{{ importscenario.validation_remarks }}",
                startRow: true
            },
            {
                ID:"regionSelect",
                name: "region",
                title: "Regio",
                type: "select",
                optionDataSource: "dsRegion",
                valueField: "id",
                displayField: "name",
                required: false,
                startRow: true,
                {% if importscenario.region %} defaultValue: {{ importscenario.region.id }}, {% endif %}
                change: function(form, item, value){
                     breachSelect.setValue("");
                     breachSelect.fetchData(null, {data:{region_id:value}});
                 }
            },
            {
                ID:"breachSelect",
                name: "breach",
                title: "Doorbraaklocatie",
                type: "select",
                optionDataSource: "dsBreach",
                valueField: "id",
                displayField: "name",
                {% if importscenario.breach %} defaultValue: {{ importscenario.breach.id }}, {% endif %}
                autoFetchData: false,
                required: false,
                startRow: true
            },
            {
                name: "project",
                title: "Project",
                optionDataSource: "dsProject",
                valueField: "id",
                displayField: "name",
                type: "select",
                {% if importscenario.project %} defaultValue: {{ importscenario.project.id }}, {% endif %}
                required: false,
                startRow: true
            },

       { name: "action", _constructor: "HiddenItem", defaultValue: 'save_admin' }
        ],
        //canDragResize: true,
        autoDraw: false
    });


    isc.IButton.create({
        ID: "buttonAdminSave",
        title: "Admin gegevens opslaan",
        showRollOver: false,
        showDown: true,
        showFocused: false,
        width: 150,
        overflow: "visible",
        showRollOver: false,
        click: function() {
                formAdminSettings.getField('action').setValue('save_admin');
                formAdminSettings.saveData(function(dsResponse, data, dsRequest) {
                    if (dsResponse.httpResponseCode == 200) {
                        if (data.successful == "true") {
                            alert(data.post_remarks)
                        } else {
                            alert('error saving: ' + data.post_remarks)
                        }
                    } else {
                        alert('server error, scenario niet opgeslagen')
                    }
                });
        },
        autoDraw: false
    });

    isc.IButton.create({
        ID: "importIntoFlooding",
        title: "Scenario importeren",
        showRollOver: false,
        showDown: true,
        showFocused: false,
        width: 150,

        showRollOver: false,
        click: function() {
                formAdminSettings.getField('action').setValue('save_and_import');
                formAdminSettings.saveData(function(dsResponse, data, dsRequest) {
                    if (dsResponse.httpResponseCode == 200) {
                        if (data.successful == true) {
                            alert(data.save_log)
                        } else {
                            alert('error saving: ' + data.save_log)
                        }
                    } else {
                        alert('server error, scenario niet opgeslagen')
                    }
                });
        },
        autoDraw: false
    });

    isc.HLayout.create({
        ID: 'scImportAdmin',
        height: 28,
        padding: 2,
        membersMargin: 5,
        backgroundColor: 'grey',
        overflow: "visible",
        border: "1px solid grey",
        resizeBarTarget: "next",
        members: [
               buttonAdminSave,
               importIntoFlooding
        ],
        autoDraw: false
    })
    {% if importscenario.region %}
    breachSelect.fetchData(null, {data:{region_id:{{ importscenario.region.id }} }})
    {% endif %}
{% endif %}

    isc.Canvas.create({
        ID:'lastrow',
        height:"10",
    autodraw:false
    });


    isc.VLayout.create({
        ID: 'scSettingsTotal',
        width: "100%",
        height:"100%",
        overflow: "auto",
        members: [
                breadcrumbs,
{% if legend_html_json %}
                helptext,
{% endif %}
                formScenarioSettings,
                scenarioInfobuttons ,
                {% if import_admin %}  ,isc.Canvas.create({height:"20"}) ,formAdminSettings,scImportAdmin,  {% endif %}
                {% if approvaltable %} ,isc.Canvas.create({height:"20"}) ,scApprovalTotal  ,{% endif %}
                lastrow
                ]
    });


    </script>
    </body>
    </html>
