{% extends "lizard/base.html" %}
{% load i18n %}
{% block title %}Lizard export detail{% endblock %}		
{% block stylesheets %}		
		<link rel="shortcut icon" href="{{ url_favicon }}">
		<link href="{% url root_url %}static_media/style/style.css" media="screen" type="text/css" rel="stylesheet">
		<link href="{% url root_url %}static_media/style/forms.css" media="screen" type="text/css" rel="stylesheet">
		<link href="{% url root_url %}static_media/Isomorphic_NenS_skin/skin_styles.css" media="screen" type="text/css" rel="stylesheet">
{% endblock stylesheets %}
	

{% block content %}
<div id="scrollablecontent">
		<h1>
		{% trans "Export run details" %}
		</h1>
		<BR>
		<table class="timeseriesWrapper"><tr><td>
			<table class="timeseries" summary="timeseries">
			  <tbody>
				<tr class="cellDark">
					<td width="150"><b>{% trans "Name" %}</b></td>
					<td>{{ export_run.name }}</td>
				</tr>
				<tr class="cell">
					<td width="50"><b>{% trans "Owner" %}</b></td>
					<td>{{ export_run.owner.username }}</td>
				</tr>
				<tr class="cellDark">
					<td width="75"><b>{% trans "Creation date" %}</b></td>
					<td>{{ export_run.creation_date|date:"d-m-Y"}}</td>
				</tr>
				<tr class="cell">
					<td width="75"><b>{% trans "Run date" %}</b></td>
					<td>{{ export_run.run_date|date:"d-m-Y"}}</td>
				</tr>						
				<tr class="cellDark">
					<td width="50"><b>{% trans "Approved date" %}</b></td>
					<td>{{ export_run.approved_date|date:"d-m-Y" }}</td>
				</tr>			
				<tr class="cell">
					<td width="373"><b>{% trans "Description" %}</b></td>
					<td>{{ export_run.description }}</td>
				</tr>
				<tr class="cellDark">
					<td width="50"><b>{% trans "Used scenarios and projects (x out of y)" %}</b></td>
					<td>
						<a href="{% url flooding_tools_export_detail_scenarios export_run_id=export_run.id %}">{{ num_scenarios }} {% trans "out of" %} {{num_projects}}</a> 
					</td>
				</tr>				
				<tr class="cell">
					<td width="50"><b>{% trans "Result file" %}</b></td>					
					<td>
						{% if export_run_main_result_file_url %}
							<a href="{% url flooding_tools_export_index %}?action=get_attachment&path={{export_run_main_result_file_url}}">{{export_run_main_result_name}}</a>
						{% else %}
							-
						{% endif %}
					</td>
				</tr>	
				</tbody>
			</table>
		</table>
		
		<table class="timeseriesWrapper"><tr><td>
			<table class="timeseries" summary="timeseries">
				<thead class="headerTitle">
					<td width="50"><b>{% trans "Area" %}</b></td>					
					<td width="50"><b>{% trans "Result file" %}</b></td>
				</thead>
				<tbody>
				{% if  results_list %}
			 		{% for result in results_list %}			 		   	        
					    <tr class="{% cycle 'cellDark' 'cell'%}">					    		
				    		<td>{{result.0}}</td>
				    		<td><a href="{% url flooding_tools_export_index %}?action=get_attachment&path={{result.2}}">{{result.1}}</a></td>			    			    		
				    	</tr>	     					   
			    	{% endfor %}
			    {% else %}
			       <tr class='cellDark'><td COLSPAN=2> - </td></tr>
			    {% endif %} 
			    </tbody>   
			</table>
		</table>
</div>
{% endblock content %}
