{% extends "lizard/base.html" %}
{% load i18n %}
{% comment %}
ir. B.Roos 18102009

Displays user configuration
{% endcomment %}

{% block title %}
Lizard {% trans 'user settings' %}
{% endblock %}

{% block content %}
<h1>Lizard {% trans 'user settings' %}</h1>

		<table class="timeseriesWrapper"><tr><td>
			<table class="timeseries" summary="timeseries">
				<thead class="headerTitle">
					<td width="150"><b>{% trans "Part" %}</b></td>
					<td width="150"><b>{% trans "Setting" %}</b></td>
					<td width="150"><b>{% trans "Remarks" %}</b></td>
				</thead>
				<tbody>
					    <tr class="cellDark">
				    		<td><a href="{% url "password_change_url" %}?next={% url "root_url" %}" onclick="popupwindow=window.open(\'{% url "password_change_url" %}?next={% url "root_url" %}\', \'popupwindow\',\'height=600,width=800,top=10,left=10,resizable\');return false;">{% trans "Change password" %}</a></td>
							<td></td>
							<td></td>
				    	</tr>
				    

			    </tbody>
			</table>
		</table>



{% endblock %}





