{% load i18n %}

<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    	<title>Lizard</title>
		<!-- Load styles -->
		<link rel="shortcut icon" href="{{ url_favicon }}">
		<link href="{{ STATIC_URL }}style/style.css" media="screen" type="text/css" rel="stylesheet">
		<link href="{{ STATIC_URL }}style/forms.css" media="screen" type="text/css" rel="stylesheet">
	</head>
	<body>
		<h1>Handleiding</h1>
		<a href="{{ STATIC_URL }}docs/Gebruikershandleiding Lizardflooding 3.0.pdf">Gebruikershandleiding Lizard-flooding 3.0 (PDF, 6 MB)</a>
		<h1>Overig</h1>
		<a href="{{ STATIC_URL }}docs/R0022 Gebruikershandleiding_versie1.0.pdf">Documentatie HIS Schade slachtoffers module (PDF, 5 MB)</a>
	</body>
</html>
