{% load i18n %}

ST_LOADING_DATA = "Data laden...";
ST_SELECT = "Selecteer";
ST_LOADING_TILES = "Kaart laden";
ST_EMPTY = "Leeg";
ST_LEGEND_OF = "Legenda van";
ST_NO_DATA  = "Geen data";

ST_NEW_SCENARIO = "Nieuw Scenario";
ST_RESULTS = "Resultaten";
ST_TABLE = "Tabel";
ST_IMPORT = "Importeren";
ST_EXPORT = "Exporteren";
ST_REGION = "Regio";
ST_BREACH = "Doorbraak";
ST_SCENARIO = "Scenario";
ST_RESULT = "Resultaat";

ST_OPACITY = "Doorzicht";

ST_SELECT_REGION = "Selecteer regio";
ST_SELECT_BREACH = "Selecteer doorbraakscenario";
ST_SELECT_SCENARIO = "Selecteer een scenario <br>(of geen resultaten beschikbaar)";

ST_ALL_WITH_RESULTS = "Alles met resultaat";
ST_ACCEPTED = "Goedgekeurd";
ST_REJECTED = "Afgekeurd";
ST_VERIFY = "Nog te keuren";
ST_ALL = "Alle (ook wachtrij)";
ST_ARCHIVE = "Archief";

ST_APPLY = "Toepassen";
ST_CLOSE = "Afsluiten";
ST_RESET = "Vernieuwen";
ST_SEARCH = "Zoeken";
ST_IN = "in";
ST_ALL_ = "Alles";
ST_SEARCH_WARN_PART_1 = "Zoek criteria";
ST_SEARCH_WARN_PART_2 = "is reeds geselecteerd.";
ST_EMPTY_SELECTION_WARN = "Maak een selectie.";
ST_SELECTION = "Selectie";
ST_SELECT = "Selecteer";
ST_PROJECT = "Projects(s)";
ST_REGION_ = "regio(nen)";

ST_INFO = "Info";
ST_REMARK = "Opmerkingen";
ST_APPROVAL = "Goedkeuring";
ST_EDIT = "Bewerken";
ST_LEGEND = "Legenda";

ST_KERING_EMPTY_MSG = "<br><br>Geen shape is beschikbaar.";
ST_UPLOAD = "Upload";
ST_SUBMIT = "Verzenden";
ST_DOWNLOAD = "Download";
ST_LOAD = "Laad";
ST_DELETE = "Verwijder";

ST_LOCATION_SET = "Locatie set";
ST_NAME = "Naam";
ST_AMOUNT = "Aantal";
ST_TYPE = "Type";
ST_ACTION = "Actie";
ST_ACTION_AFTER = "Actie na tijdstip.";
ST_SELECTED_CUTOFF_LOC = "Geselecteerde afsluitlocaties";
ST_BACK = "Terug";
ST_MEASURES = "Maatregelen";
ST_NR_UNITS = "Nr eenheden";
ST_REFERENCE = "T.o.v.";
ST_ADJUSTMENT = "Aanpassing";
ST_NEW_MEASURE_DRAW_EMBANKMENT = "Nieuwe maatregel - teken nieuwe kering";
ST_STOP_MODIFY = "Stop wijzigen";
ST_NEW_MEASURE_EDIT_EMBANKMENT = "Nieuwe maatregel - wijzig bestaande kering";
ST_ALERT_1 = "Fout bij het ophalen van gegevens.";
ST_WIN_SETTINGS_TITLE = "Instellingen en opslaan scenario";
ST_CONF_AND_SAVE_TITLE = "Instellingen en Opslaan";
ST_STEP = "Stap";
ST_EXT_WATER_MODEL = "Buitenwater model";
ST_INUNDATION_MODEL = "Overstroming model";

ST_SIMULATION_TIME = "Simulatie duur"; 
ST_SCENARIO_NAME = "Scenario naam";
ST_SCENARIO_REMARK = "Scenario beschrijving";
ST_PROJECT = "Project";
ST_CALC_PRIORITY = "Doorreken prioriteit";
ST_MAX_LEVEL = "Maximum peil";
ST_REPETITION_TIME = "Herhalingstijd";
ST_LAKE_LEVEL = "Meerpeil";
ST_STORM_DURATION = "Storm duur";
ST_STORM_PEAK_DURATION = "Piek duur";
ST_TIDES_LOCATION = "Getijdenlocatie";
ST_TIME_SHIFTING_REL_TO_STORM_PEAK = "Tijdsverschuiving getij piek tov storm piek";
ST_MOMENT_BREAKING = "Moment van doorbreken"
ST_TIME_BETWEEN_BREACH_MAX_WATER = "Tijd tussen doorbreken en maximale waterstand"
ST_BOTTOM_BREACH = "Niveau van de doorbraak";
ST_BOTTEM_BREACH_LESS_BOTTOM_HOLE = "'Niveau wiel' moet lager zijn dan 'niveau van de doorbraak.";
ST_BOTTOM_HOLE = "Niveau wiel";
ST_WATER_LEVEL = "m Nap";
ST_ADVANCED_SETTINGS = "Geavanceerde settings";
ST_CRITICAL_VELOCITY = "Kritieke stroomsnelheid";
ST_INIT_BREACH_WIDTH = "Initiele bresbreedte";
ST_TIME_VERTICAL_EROSION = "Duur diepte groei";
ST_CALIBRATION_FACTOR_1 = "Bresgroei factor 1 (alpha)";
ST_CALIBRATION_FACTOR_2 = "Bresgroei factor 2 (beta)";
ST_DISCHARGE_COEFF = "Afvoer coefficient";
ST_CUST_PREF_MANUALLY = "Gebruik handmatige invoer";
ST_INPUT_TIME_WATER_LEVEL = "Invoeren waterlevels (komma gescheiden)";
ST_DOWNLOAD_EXTERNALWATER_LEVEL = "Download buitenwaterstand";
ST_SAVE_MEASURES = "Sla maatregelen aan keringen op";
ST_MEASURES_NAME = "Maatregelenset naam";
ST_EXECUTE_SCENARIO = "Opslaan en in wachtrij plaatsen";
ST_SHOW_GRAPH = "Toon grafiek";
ST_HIDE_GRAPH = "Verberg grafiek";
ST_EXT_WATER_LAVEL = "Buitenwaterstand";
ST_BREACH_ = "Bres";

ST_HOUR = "uur";
