{% load i18n %}

ST_LOADING_DATA = "Data loading ...";
ST_SELECT = "Select";
ST_LOADING_TILES = "Tiles loading ...";
ST_EMPTY = "Empty";
ST_LEGEND_OF = "Legend of";
ST_NO_DATA  = "No data";

ST_NEW_SCENARIO = "New Scenario";
ST_RESULTS = "Results";
ST_TABLE = "Table";
ST_IMPORT = "Import";
ST_EXPORT = "Export";
ST_REGION = "Region";
ST_BREACH = "Breach";
ST_SCENARIO = "Scenario";
ST_RESULT = "Result";

ST_OPACITY = "Opacity";

ST_SELECT_REGION = "Select region";
ST_SELECT_BREACH = "Select breach";
ST_SELECT_SCENARIO = "Select scenario <br>(or no geen result available)";

ST_ALL_WITH_RESULTS = "All with result";
ST_ACCEPTED = "Accepted";
ST_REJECTED = "Rejected";
ST_VERIFY = "Verify";
ST_ALL = "All (including queue)";
ST_ARCHIVE = "Archive";

ST_APPLY = "Apply";
ST_CLOSE = "Close";
ST_RESET = "Reset";
ST_SEARCH = "Search";
ST_IN = "in";
ST_ALL_ = "All";
ST_SEARCH_WARN_PART_1 = "Search option";
ST_SEARCH_WARN_PART_2 = "is already selected.";
ST_EMPTY_SELECTION_WARN = "Select option(s).";
ST_SELECTION = "Selection";
ST_SELECT = "Select";
ST_PROJECT = "Projects(s)";
ST_REGION_ = "region(s)";

ST_INFO = "Info";
ST_REMARK = "Remark";
ST_APPROVAL = "Approval";
ST_EDIT = "Edit";
ST_LEGEND = "Legend";

ST_KERING_EMPTY_MSG = "<br><br>No shape is available.";
ST_UPLOAD = "Upload";
ST_SUBMIT = "Submit";
ST_DOWNLOAD = "Download";
ST_LOAD = "Load";
ST_DELETE = "Delete";

ST_LOCATION_SET = "Location set";
ST_NAME = "Name";
ST_AMOUNT = "Amount";
ST_TYPE = "Type";
ST_ACTION = "Action";
ST_ACTION_AFTER = "Action after a point of time";
ST_SELECTED_CUTOFF_LOC = "Selected cut off locations";
ST_BACK = "Back";
ST_MEASURES = "Measures";
ST_NR_UNITS = "Nr units";
ST_REFERENCE = "Relative to";
ST_ADJUSTMENT = "Adjustment";
ST_NEW_MEASURE_DRAW_EMBANKMENT = "New measure - draw new embankment";
ST_STOP_MODIFY = "Stop modify";
ST_NEW_MEASURE_EDIT_EMBANKMENT = "New measure - edit existing embankment";
ST_ALERT_1 = "Error on loading data.";
ST_WIN_SETTINGS_TITLE = "Configure and save scenario";
ST_CONF_AND_SAVE_TITLE = "Configure and save";
ST_STEP = "Step";
ST_EXT_WATER_MODEL = "External water model";
ST_INUNDATION_MODEL = "Inundation model";

ST_SIMULATION_TIME = "Simulation time";
ST_SCENARIO_NAME = "Scenario name";
ST_SCENARIO_REMARK = "Scenario description";
ST_PROJECT = "Project";
ST_CALC_PRIORITY = "Computation priority";
ST_MAX_LEVEL = "Maximum level";
ST_REPETITION_TIME = "Repetition time";
ST_LAKE_LEVEL = "Lake level";
ST_STORM_DURATION = "Storm duration";
ST_STORM_PEAK_DURATION = "Storm peak duration";
ST_TIDES_LOCATION = "Water level measurement station";
ST_TIME_SHIFTING_REL_TO_STORM_PEAK = "Time shifting of tide peak relative to storm peak";
ST_MOMENT_BREAKING = "Starting point of breach"
ST_TIME_BETWEEN_BREACH_MAX_WATER = "Time between breach and max. water level"
ST_BOTTOM_BREACH = "Bottom level of breach";
ST_BOTTEM_BREACH_LESS_BOTTOM_HOLE = "'Bottom level of erosion hole' has to be lower then 'Bottom level of breach'.";
ST_BOTTOM_HOLE = "Bottom level of erosion hole";
ST_WATER_LEVEL = "Water level";
ST_ADVANCED_SETTINGS = "Advanced settings";
ST_CRITICAL_VELOCITY = "Critical flow velocity";
ST_INIT_BREACH_WIDTH = "Initial breach width";
ST_TIME_VERTICAL_EROSION = "Time duration vertical erosion";
ST_CALIBRATION_FACTOR_1 = "Calibration factor1";
ST_CALIBRATION_FACTOR_2 = "Calibration factor2";
ST_DISCHARGE_COEFF = "Discharge coefficient";
ST_CUST_PREF_MANUALLY = "Customize preferences manually";
ST_INPUT_TIME_WATER_LEVEL = "Input time-water level relation (comma separated)";
ST_DOWNLOAD_EXTERNALWATER_LEVEL = "Download time-water level relation";
ST_SAVE_MEASURES = "Save measures";
ST_MEASURES_NAME = "Name of measures";
ST_EXECUTE_SCENARIO = "Execute scenario";
ST_SHOW_GRAPH = "Show graph";
ST_HIDE_GRAPH = "Hide graph";
ST_EXT_WATER_LAVEL = "External water level";
ST_BREACH_ = "Breach";

ST_HOUR = "hour";
