html, body, #map {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

#graphWrapper {
    display: none;
    background-color: white;
    position: fixed;
    z-index: 1;
    padding: 10px 10px 10px 10px;
    left: 50px;
    top: 10px;
    box-shadow: 5px 5px 2px #888;
}

#graph {
    height: 240px;
    width: 480px;
}
