{% load i18n %}

<form id="exportRunForm" action="javascript: window['exportRunCallbackFormFunction']();">	
	{{form.errors}}	
    <table>    
        <tr>        	
        	<th>{{form.name.label_tag}}</th>
        	<td>{{form.name}}</td>
        </tr>
        <tr>
        	<th>{{form.description.label_tag}}</th>
        	<td>{{form.description}}</td>
        </tr>
        <tr>
        	<th>{{form.gridsize.label_tag}}</th>
        	<td>{{form.gridsize}}</td>
        </tr>        
        <tr><td><input type="submit" value="{% trans 'Submit' %}" /></td></tr>
    </table>
</form>