{% extends "lizard/base.html" %}
{% load i18n %}
{% block title %}Lizard export tool{% endblock %}
{% block stylesheets %}
  <link rel="shortcut icon" href="{{ url_favicon }}">
  <link href="{% url "root_url" %}static_media/style/style.css" media="screen" type="text/css" rel="stylesheet">
  <link href="{% url "root_url" %}static_media/style/forms.css" media="screen" type="text/css" rel="stylesheet">
  <link href="{% url "root_url" %}static_media/Isomorphic_NenS_skin/skin_styles.css" media="screen" type="text/css" rel="stylesheet">
{% endblock stylesheets %}

{% block bodyarguments %} class="scrollable" {% endblock %}
{% block content %}
  <h1>
    {% trans "Export run overview" %}
  </h1>

  <table class="timeseriesWrapper">
    <tr>
      <td>
        <table class="timeseries" summary="timeseries">
          <thead class="headerTitle">
            <td width="150"><b>{% trans "Name" %}</b></td>
            <td width="75"><b>{% trans "Creation date" %}</b></td>
            <td width="373"><b>{% trans "Description" %}</b></td>
            <td width="75"><b>{% trans "State"%}</b></td>
            <td width="80"><b>{% trans "Result file" %}</b></td>
            <td width="50"><b>{% trans "Edit" %}</b></td>
          {% if show_archived %}
            <td width="50"><b>{% trans "De-archive" %}</b></td>
            <td width="50"><b>{% trans "Delete" %}</b></td>
          {% else %}
            <td width="50"><b>{% trans "Archive" %}</b></td>
          {% endif %}
          </thead>
          <tbody>
            {% if export_run_list %}

              {% for export_run in export_run_list %}
                <tr class="{% cycle 'cellDark' 'cell'%}">
                  <td>
                    <a href="{% url "flooding_tools_export_detail" export_run.id %}">{{ export_run.name }}</a>
                  </td>
                  <td>{{export_run.creation_date|date:"d-m-Y"}}</td>
                  <td>{{export_run.description}}</td>
                  <td>{{export_run.get_state_display}}</td>
                  <td>
                    {% if export_run.get_main_result %}
                      <a href="{% url 'flooding_tools_export_resultfile' export_run.id %}{{ export_run.get_main_result.file_basename }}">
                        {% trans "Result file" %}
                      </a>
                    {% else %}
                      -
                    {% endif %}
                  </td>
                  <td>
                    <a href="{% url "flooding_tools_reuse_export" export_run.id %}">{% trans "Edit" %}</a>
                  </td>
                  {% if show_archived %}
                  <td>
                    <a href="{% url "flooding_tools_archive_export" export_run.id %}">{% trans "De-archive" %}</a>
                  </td>
                  <td>
                  {% if request.user == export_run.owner %}
                    <a href="{% url "flooding_tools_delete_export" export_run.id %}">{% trans "Delete" %}</a>
                  {% endif %}
                  </td>
                  {% else %}
                  <td>
                    <a href="{% url "flooding_tools_archive_export" export_run.id %}">{% trans "Archive" %}</a>
                  </td>
                  {% endif %}
                </tr>
              {% endfor %}

            {% else %}

              <tr class='cellDark'>
                <td colspan="5"> - </td>
              </tr>

            {% endif %}
          </tbody>
        </table>
      </td>
    </tr>
  </table>
  <br>
  {% if has_create_rights %}
    <a href="{% url 'flooding_tools_export_new_export_index' %}" >{% trans "New export run" %}</a>
  {% endif %}

  {% if show_archived %}
    <p>
      <a href="{% url 'flooding_tools_export_index' %}">Terug naar actieve exports</a>
    </p>
  {% else %}
    <p>
      <a href="{% url 'flooding_tools_export_index' %}?show_archived=1">Gearchiveerde exports</a>
    </p>
  {% endif %}
{% endblock %}
