{% extends "lizard/base.html" %}
{% load i18n %}

{% block title %}
Lizard-flooding: Tools
{% endblock %}

{% block content %}

<h1>{% trans 'Lizard-flooding tools' %}</h1>

<p>
{% trans 'Welcome to Lizard-flooding tools. Follow one of the links below:' %}
	<ul>
		<li><a href="{% url flooding_tools_import %}">{% trans 'Import scenarios' %}</a></li>
		<li><a href="{% url flooding_tools_export %}">{% trans 'Export / generate water depth maps' %}</a></li>
	</ul>
</p>

{% endblock %}
