<html>
  <head>
    <title>Error 500</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/lizard_webinterface_favicon2.ico" />
  </head>
  <body bgcolor="#ffffff" style="color:black;">
   <!--STYLE type="text/css">
       BODY { background: url("{{ STATIC_URL }}images/lizard_500.png") }
    </STYLE-->

    <center>
      <h1>
	Interne Server Error (500)
      </h1>

      Excuses voor het ongemak. Neem contact op met de servicedesk van Nelen
      &amp; Schuurmans om het probleem te melden. Leg exact uit wat U heeft
      gedaan, zodat de servicedesk het probleem kan reproduceren en verhelpen.

      <ul>
	<li>telefoon: 030-2330200</li>
	<li>e-mail: <a href="mailto:servicedesk@nelen-schuurmans.nl">servicedesk@nelen-schuurmans.nl</a></li>
      </ul>

    </center>
  </body>
</html>
